.Album {
  margin: 0 auto;
  width: 80%;

  img {
    height: 30rem;
    width: 30rem;
  }
}

.Header {
  display: flex;
  align-items: center;
  position: sticky;
  padding: 6rem 0 3rem;
  top: 0;
  background-color: white;
}

.Info {
  margin-left: 3rem;
  
  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 4rem;
  }
}
