.Button {
  display: inline-block;
  font-family: inherit;
  user-select: none;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 3rem;
  border: 0.5rem solid var(--color-primary-light);
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    outline: none;
    color: white;
    background-color: var(--color-primary-light);
    border: 0.5rem solid var(--color-primary-light);
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem black;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 0.25rem 0.5rem black;
  }
}
