*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: "Yellowtail", cursive;
}

:root {
  --color-primary-light: rgb(131, 103, 207);
  --color-primary-dark: rgb(46, 19, 119);
}
