.Tabs {
  list-style: none;
  display: flex;

  li {
    flex-grow: 1;
    text-align: center;
    
    a:link,
    a:visited {
      font-size: 3rem;
      text-decoration: none;
      color: rgb(161, 161, 161);
    }

    a.active {
      color: black;
    }
  }
}
