.Account {
  margin: 6rem auto 0;
  background-color: #fff;
  width: 80%;
  height: 80rem;
  overflow: auto;
  position: relative;

  &.loading {
    display: flex;
  }

  h1 {
    padding: 3rem 0 3rem 5rem;
    font-size: 5rem;
  }

  .container {
    width: 50%;
    float: left;
    font-size: 2rem;
    padding-left: 5rem;
  }

  .playlists li {
    list-style: none;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 2rem;
    }
  }
}
