.Account {
  margin: 6rem auto 0;
  background-color: #fff;
  width: 80%;
  height: 80rem;
  overflow: auto;
  position: relative;

  h1 {
    padding: 3rem 0 3rem 5rem;
    font-size: 5rem;
  }

  .container {
    width: 50%;
    float: left;
    font-size: 2rem;
    padding-left: 5rem;
  }
}
