.Navigation {
  background-color: white;
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  float: right;

  li:not(:first-child) {
    margin-left: 2rem;
  }

  a:link,
  a:visited {
    text-decoration: none;
    font-size: 2rem;
    color: black;
  }
}