.Navigation {
  height: 5rem;
  width: 100%;
  background-color: var(--color-navigation);
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 10;
  border-bottom: 2px solid black;

  &__Item {
    margin: 0 2rem;
  }

  &__Item a {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 2rem;
      color: white;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      display: inline-block;
      color: var(--color-primary-light);
      transform: translateY(-2px);
    }
  }
}
